<div class="vh-100 d-flex justify-content-center align-items-center ">
    <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
        <h2 class="text-center mb-4 text-primary">Reset Password</h2>
        <form [formGroup]="resetPasswordForm">
            <div class="mb-3 form-group">
                <label for="password" class="form-label">New Password</label>
                <input formControlName="password" type="password" class="form-control border border-primary"
                       id="password"
                >
                <small class="text-danger"
                       *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.hasError('required')">
                    New Password is required</small>
                <small *ngIf="resetPasswordForm.get('password')?.hasError('pattern') && resetPasswordForm.get('password')?.touched"
                       class="text-danger">
                    Password must be at least 8 characters long and include at least one uppercase letter, one lowercase
                    letter, and one digit.
                </small>
            </div>

            <div class="mb-3 form-group">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" class="form-control border border-primary"
                       id="confirmPassword">
                <small class="text-danger"
                       *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.hasError('required')">
                    Confirm Password is required</small>
                <small *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('pattern') && resetPasswordForm.get('confirmPassword')?.touched"
                       class="text-danger">
                    Password must be at least 8 characters long and include at least one uppercase letter, one lowercase
                    letter, and one digit.
                </small>
                <small *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('confirmPasswordValidator') && resetPasswordForm.get('confirmPassword')?.touched"
                       class="text-danger">
                    Password doesn't match
                </small>
            </div>

            <div class="d-grid">
                <button class="btn btn-primary" type="submit" (click)="reset()">Reset</button>
            </div>
        </form>
    </div>
</div>
